@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville:ital@0;1&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Manrope:wght@200;300;400;500;600;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Padyakke+Expanded+One&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Spray+Paint&family=Rufina:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
/*CSS rules to specify families

font-family: 'Aboreto', cursive;
font-family: 'Anonymous Pro', monospace;
font-family: 'Baskervville', serif;
font-family: 'Cabin', sans-serif;
font-family: 'DM Mono', monospace;
font-family: 'Economica', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Padyakke Expanded One', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rufina', serif;
font-family: 'Turret Road', cursive;
*/

body{
	font-family: 'DM Mono', monospace;
	font-size: 5vw;
}

a{
	color: blue;
	text-decoration: none;
}

a:visited{
	color: blue;
	text-decoration: line-through;
}