@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Stint+Ultra+Condensed&display=swap');
body{
  background-image: url("img/remnant6.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Quicksand, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

a:hover{
  cursor:pointer !important;
}

/* img{
  transition: transform 0.25 ease;
}
img:hover{
  -webkit-transform:scale(1.5);
  transform: scale(1.5);
} */

#myImg {
  transition: 0.3s;
  filter: blur(70px);
}
#myImg:hover {
  transition: 0.3s;
  filter: blur(30px);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.container{
  margin-left: 1vw;
  margin-top: 1vw;
}

.container-all{
  width: 94vw;
  height: 100vh;
  margin-top: 0vw;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 1vw;
  overflow: scroll;
  position: absolute;
}

.column{
  width: 23.5%;
  height: 100%;
  float: left;
  margin-right: 1%;
}

.column img{
  width: 100%;
  margin-bottom: 1vw;
}

.img-container{
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
  position: fixed;
  top: 0;
  right: 0;
}

.back-button{
  z-index: 10;
  top: 5vh;
  left: 5vw;
  position: fixed;
}

.table-container{
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 10vh;
  align-content: center;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 15;
}
.table{
  width: 40%;
}

::-webkit-scrollbar {
    display: none;
}

.book{
  width: 100%;
  translate: 0 -8%;
}

.header{
  margin-top: 2vw;
  margin-left: 3vw;
  padding-bottom: 1vw;
}

.menu{
  margin-left: 30vw;
  margin-top: 10vh;
  line-height: 1.8;
}

a{
  color: black;
  text-decoration: underline;
}
a:hover{
  color: blue;
  cursor: pointer;
}

hr{
  border: 0.5px solid black;
}

table{
  color: black;
}

td{
  padding-left: 5vw;
  padding-bottom: 1em;
  line-height: 1.2;
  vertical-align: top;
}

.list{
  width: 25%;
  margin-right: 5%;
  height: 20%;
  overflow: scroll;
  line-height: 1.2;
  z-index: 15;
  position: fixed;
  bottom: 10vh;
  right: 0;
  /*
  padding: 15px;
  background-color: white;
  opacity: 0.8;
  transform: rotate(-8deg);
  box-shadow: 0px 0px 10px grey;*/
}

.collapsible {
  background: none;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: monospace;
  text-decoration: underline;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background: none;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background: none;
}

/* CLOCK */
.clock {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: auto; /* Add this to center the clock horizontally */
  z-index: 100;
  mix-blend-mode: difference;
}

.circle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  background-color: white;
  transform-origin: 50% 100%; /* Center of the bottom edge */
  transition: transform 0.5s cubic-bezier(0.4, 2.1, 0.2, 1);
}

.hour {
  height: 12px;
  width: 2px;
}

.minute {
  height: 16px;
  width: 1.5px;
}

.second {
  height: 20px;
  width: 1px;
}